<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 나는 맵퍼다 선언 -->
 <mapper namespace="AdminMapper">
 	<resultMap type="Admin" id="adminResultMap">
		<id 	property="adminId" 	column="ADMIN_ID"/>
		<result property="adminPwd" 	column="ADMIN_PWD"/>
		<result property="adminName" 	column="ADMIN_NAME"/>
		<result property="adminEmail" 	column="ADMIN_EMAIL"/>
		<result property="adminPhone" 	column="ADMIN_PHONE"/>
		<result property="adminAddr" 	column="ADMIN_ADDR"/>
		<result property="adminScope" 	column="ADMIN_SCOPE"/>
		<result property="adminCode" 	column="ADMIN_CODE"/>
		<result property="regdate" 		column="REG_DATE"/>	
		<result property="updateDate" 	column="UPDATE_DATE"/>
		<result property="lastCnt_date" 	column="LASTCNT_DATE"/>
		<result property="aStatus" 		column="A_STATUS"/>	
	</resultMap>
	
	<resultMap type="User" id="userResultMap">
		<id property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userBirth" column="USER_BIRTH"/>
		<result property="userPhotoName" column="USER_PHOTO_NAME"/>
		<result property="userPhotoRename" column="USER_PHOTO_RENAME"/>
		<result property="userPhotoPath" column="USER_PHOTO_PATH"/>
		<result property="uEnrollDate" column="U_ENROLL_DATE"/>
		<result property="uStatus" column="U_STATUS"/>
	</resultMap>
	
	<!-- 회원가입 -->
 	<insert id="insertAdmin" parameterType="Admin">
 		INSERT INTO ADMIN_TBL
 		VALUES(#{adminId},#{adminPwd},#{adminName},#{adminEmail},#{adminPhone},#{adminAddr}, 
 		DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
 	</insert>
 	<update id="updateAdmin" parameterType="Admin">
		UPDATE ADMIN_TBL
		SET ADMIN_PWD = #{adminPwd }, ADMIN_EMAIl = #{adminEmail }, ADMIN_PHONE = #{adminPhone}
		, ADMIN_ADDR = #{adminAddr }, ADMIN_SCOPE = #{adminScope }, ADMIN_CODE =#{adminCode }, UPDATE_DATE = DEFAULT
		WHERE ADMIN_ID = #{adminId }
	</update>
	<update id="deleteAdmin" parameterType="string">
		UPDATE ADMIN_TBL
		SET A_STATUS = 'N'
		WHERE ADMIN_ID = #{adminId }
	</update>
	<!-- 마스터관리자가 삭제 -->
	<delete id="deleteAdminEver">
		DELETE FROM ADMIN_TBL 
		WHERE ADMIN_ID=#{adminId }
	</delete>
 	<!-- 로그인 -->
 	<select id="selectLoginOne" resultMap="adminResultMap">
 		SELECT ADMIN_ID, ADMIN_NAME FROM ADMIN_TBL
 		WHERE ADMIN_ID = #{adminId } AND ADMIN_PWD = #{adminPwd } AND A_STATUS = 'Y'
 	</select>
 	<select id="selectOneById" resultMap="adminResultMap">
		SELECT * FROM ADMIN_TBL
		WHERE ADMIN_ID = #{adminId } AND A_STATUS = 'Y'
	</select>
	<!-- admin에서 관리자목록 출력합니다. -->
	<select id="selectAllAdmin" resultMap="adminResultMap">
		SELECT * FROM ADMIN_TBL ORDER BY REG_DATE DESC
	</select>
	
	<!-- admin에서 회원목록 출력합니다. -->
	<select id="selectAllUser" resultMap="userResultMap">
		SELECT * FROM USER_TBL ORDER BY U_ENROLL_DATE DESC
	</select>
	
	<!-- 관리자 목록 출력 -->
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM ADMIN_TBL
		<where>
				<if test="searchCondition.toString() == 'title'">
					ADMIN_NAME LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'contents'">
					ADMIN_ID LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'writer'">
					ADMIN_ADDR LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'all'">
					ADMIN_NAME LIKE '%'||#{searchValue}||'%'
					OR ADMIN_ID LIKE '%'||#{searchValue}||'%'
					OR ADMIN_ADDR LIKE '%'||#{searchValue}||'%'
				</if>
				 
			</where>
	</select>
	<!-- 마스터 관리자 수정 -->
<!-- 	<update id="modifyMaster" parameterType="Admin">
		UPDATE ADMIN_TBL
		SET ADMIN_PWD = #{adminPwd }, ADMIN_EMAIl = #{adminEmail }, ADMIN_PHONE = #{adminPhone}
		, ADMIN_ADDR = #{adminAddr }, ADMIN_SCOPE = #{adminScope }, ADMIN_CODE =#{adminCode }
		, UPDATE_DATE = DEFAULT
		WHERE ADMIN_ID = #{adminId }
	</update> -->
	
 </mapper>