<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 나는 맵퍼다 선언 -->
 <mapper namespace="AdminMapper">
 	<resultMap type="Admin" id="adminResultMap">
		<id 	property="adminId" 	column="ADMIN_ID"/>
		<result property="adminPwd" 	column="ADMIN_PWD"/>
		<result property="adminName" 	column="ADMIN_NAME"/>
		<result property="adminEmail" 	column="ADMIN_EMAIL"/>
		<result property="adminPhone" 	column="ADMIN_PHONE"/>
		<result property="adminAddr" 	column="ADMIN_ADDR"/>
		<result property="adminScope" 	column="ADMIN_SCOPE"/>
		<result property="adminCode" 	column="ADMIN_CODE"/>
		<result property="regdate" 		column="REG_DATE"/>	
		<result property="updateDate" 	column="UPDATE_DATE"/>
		<result property="lastCnt_date" 	column="LASTCNT_DATE"/>
		<result property="aStatus" 		column="A_STATUS"/>	
	</resultMap>
	
	<resultMap type="User" id="userResultMap">
		<id property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userBirth" column="USER_BIRTH"/>
		<result property="userPhotoName" column="USER_PHOTO_NAME"/>
		<result property="userPhotoRename" column="USER_PHOTO_RENAME"/>
		<result property="userPhotoPath" column="USER_PHOTO_PATH"/>
		<result property="uEnrollDate" column="U_ENROLL_DATE"/>
		<result property="uStatus" column="U_STATUS"/>
	</resultMap>
	
	<resultMap type="QnA" id="qnaResultMap">
 		<id property="questionNo" column="QUESTION_NO"/>
 		<result property="questionWriter" column="QUESTION_WRITER"/>
 		<result property="questionTitle" column="QUESTION_TITLE"/>
 		<result property="questionContents" column="QUESTION_CONTENTS"/>
 		<result property="qFileName" column="QUESTION_FILE_NAME"/>
 		<result property="qFileReName" column="QUESTION_FILE_RENAME"/>
 		<result property="qFilePath" column="QUESTION_FILE_PATH"/>
 		<result property="answerStatus" column="ANSWER_STATUS"/>
 		<result property="answerContents" column="ANSWER_CONTENTS"/>
 		<result property="answerWriter" column="ANSWER_WRITER"/>
 		<result property="qEnrollDate" column="Q_ENROLL_DATE"/>
 		<result property="qUpdateDate" column="Q_UPDATE_DATE"/>
 	</resultMap>

	<resultMap type= "Community" id="communityResultMap">
  		<id property="communityNo" column="COMMUNITY_NO"/>
  		<result property="cBoardCode" column="C_BOARD_CODE"/>
  		<result property="communityTitle" column="COMMUNITY_TITLE"/>
  		<result property="communityWriter" column="COMMUNITY_WRITER"/>
  		<result property="communityContents" column="COMMUNITY_CONTENTS"/>
  		<result property="communityPrice" column="COMMUNITY_PRICE"/>
  		<result property="communitySalePage" column="COMMUNITY_SALE_PAGE"/>
  		<result property="communityFileName" column="COMMUNITY_FILE_NAME"/>
  		<result property="communityFileRename" column="COMMUNITY_FILE_RENAME"/>
  		<result property="communityFilePath" column="FILE_PATH"/>
  		<result property="cEnrollDate" column="C_ENROLL_DATE"/>
  		<result property="cUpdateDate" column="C_UPDATE_DATE"/>
  		<result property="boardCount" column="BOARD_COUNT"/>
  	</resultMap>
  	
  	
  	<resultMap type="Recipe" id="recipeResultMap">
		<id property="recipeNo" column="RECIPE_NO" />
		<result property="recipeTitle" column="RECIPE_TITLE" />
		<result property="recipeIntro" column="RECIPE_INTRO" />
		<result property="thumbnailName" column="THUMBNAIL_NAME" />
		<result property="thumbnailRename" column="THUMBNAIL_RENAME" />
		<result property="thumbnailpath" column="THUMBNAIL_PATH" />
		<result property="typeCategory" column="TYPE_CATEGORY" />
		<result property="wayCategory" column="WAY_CATEGORY" />
		<result property="recipeLikeCount" column="RECIPE_LIKE_COUNT" />
		<result property="recipeCount" column="RECIPE_COUNT" />
		<result property="userId" column="USER_ID" />
		<result property="recipeLevel" column="RECIPE_LEVEL" />
		<result property="recipeTime" column="RECIPE_TIME" />
		<result property="recipePerson" column="RECIPE_PERSON" />
		<result property="rCreateDate" column="R_CREATE_DATE" />
		<result property="rStatus" column="R_STATUS" />
	</resultMap>
	
	 	
	<!-- 회원가입 -->
 	<insert id="insertAdmin" parameterType="Admin">
 		INSERT INTO ADMIN_TBL
 		VALUES(#{adminId},#{adminPwd},#{adminName},#{adminEmail},#{adminPhone},#{adminAddr}, 
 		DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
 	</insert>
 	<update id="updateAdmin" parameterType="Admin">
		UPDATE ADMIN_TBL
		SET ADMIN_PWD = #{adminPwd }, ADMIN_EMAIl = #{adminEmail }, ADMIN_PHONE = #{adminPhone}
		, ADMIN_ADDR = #{adminAddr }, ADMIN_SCOPE = #{adminScope }, ADMIN_CODE =#{adminCode }, UPDATE_DATE = DEFAULT
		WHERE ADMIN_ID = #{adminId }
	</update>
	<update id="deleteAdmin" parameterType="string">
		UPDATE ADMIN_TBL
		SET A_STATUS = 'N'
		WHERE ADMIN_ID = #{adminId }
	</update>
	<!-- 마스터관리자가 삭제 -->
	<delete id="deleteMasterAdmin">
		DELETE FROM ADMIN_TBL 
		WHERE ADMIN_ID=#{adminId }
	</delete>
 	<!-- 로그인 -->
 	<select id="selectLoginOne" resultMap="adminResultMap">
 		SELECT ADMIN_ID, ADMIN_NAME FROM ADMIN_TBL
 		WHERE ADMIN_ID = #{adminId } AND ADMIN_PWD = #{adminPwd } AND A_STATUS = 'Y'
 	</select>
 	<select id="selectOneById" resultMap="adminResultMap">
		SELECT * FROM ADMIN_TBL
		WHERE ADMIN_ID = #{adminId } AND A_STATUS = 'Y'
	</select>
	<!--  관리자목록 출력합니다. -->
	<select id="selectAllAdmin" resultMap="adminResultMap">
		SELECT * FROM ADMIN_TBL ORDER BY REG_DATE DESC
	</select>
	
	<!-- 관리자 id/pwd찾기 -->
	<select id="selectAdminId" resultMap="adminResultMap">
		SELECT ADMIN_ID FROM ADMIN_TBL WHERE ADMIN_EMAIL = #{adminEmail}
	</select>
	<select id="selectAdminPwd" resultMap="adminResultMap">
		SELECT ADMIN_PWD FROM ADMIN_TBL WHERE ADMIN_ID = #{adminId} AND ADMIN_EMAIL = #{adminEmail}
	</select>
	
	<!-- 관리자 목록 출력 -->
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM ADMIN_TBL
		<where>
				<if test="searchCondition.toString() == 'Id'">
					ADMIN_ID LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'Name'">
					ADMIN_NAME LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'all'">
					ADMIN_NAME LIKE '%'||#{searchValue}||'%'
					OR ADMIN_ID LIKE '%'||#{searchValue}||'%'
				</if>
				 
			</where>
	</select>
	<select id="selectAllByAdminValue" resultMap="adminResultMap">
		SELECT * FROM ADMIN_TBL 
		<where>
			<if test="searchCondition.toString() == 'Id'">
				ADMIN_ID LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'Name'">
				ADMIN_NAME LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				ADMIN_ID LIKE '%'||#{searchValue}||'%'
				OR ADMIN_NAME LIKE '%'||#{searchValue}||'%'
			</if>
			
		</where>
	</select>
	
	
	<!-- 유저 회원목록 -->
	<select id="selectOneUser" resultMap="userResultMap">
		SELECT * FROM USER_TBL WHERE USER_ID =#{userId}
	</select>
	
	<select id="selectAllUser" resultMap="userResultMap">
		SELECT * FROM USER_TBL ORDER BY U_ENROLL_DATE DESC
	</select>
	<!-- 유저 검색 출력 -->
	<select id="selectTotalUserCount" resultType="_int">
		SELECT COUNT(*) FROM USER_TBL
		<where>
				<if test="searchCondition.toString() == 'Id'">
					USER_ID LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'Name'">
					USER_NAME LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'Phone'">
					USER_PHONE LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'all'">
					USER_NAME LIKE '%'||#{searchValue}||'%'
					OR USER_ID LIKE '%'||#{searchValue}||'%'
					OR USER_PHONE LIKE '%'||#{searchValue}||'%'
				</if>
				 
			</where>
	</select>
	<select id="selectAllByUserValue" resultMap="userResultMap">
		SELECT * FROM USER_TBL 
		<where>
			<if test="searchCondition.toString() == 'Id'">
				USER_ID LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'Name'">
				USER_NAME LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'Phone'">
				USER_PHONE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				USER_ID LIKE '%'||#{searchValue}||'%'
				OR USER_NAME LIKE '%'||#{searchValue}||'%'
				OR USER_PHONE LIKE '%'||#{searchValue}||'%'
			</if>
			
		</where>
	</select>
	

	
	
	<!-- 회원 정보 수정 -->
 	<update id="modifyUser" parameterType="User">
		UPDATE USER_TBL
		SET USER_PWD = #{userPwd }, USER_NAME = #{userName }, USER_PHONE = #{userPhone }, USER_EMAIl = #{userEmail }
		<!-- , U_STATUS =#{uStatus } -->
		WHERE USER_ID = #{userId }		
	</update>
	
	<!-- 회원 삭제 -->
	<delete id="deleteMasterUser">
		DELETE FROM USER_TBL 
		WHERE USER_ID=#{userId }
	</delete>
	
	<!-- QNA 관리 -->
 	<select id="selectAllQna" resultMap="qnaResultMap">
		SELECT * FROM QNA_TBL ORDER BY QUESTION_NO DESC
	</select>
	
	<select id="selectOneByQnaNo" resultMap="qnaResultMap">
		SELECT * FROM QNA_TBL 
		WHERE QUESTION_NO = #{questionNo }
	</select>
	
	<!-- Qna 검색 출력 -->
	<select id="selectTotalQnaCount" resultType="_int">
		SELECT COUNT(*) FROM QNA_TBL
		<where>
			<if test="searchCondition.toString() == 'QWriter'">
					QUESTION_WRITER LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'QTitle'">
					QUESTION_TITLE LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'QContents'">
					QUESTION_CONTENTS LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'all'">
					QUESTION_WRITER LIKE '%'||#{searchValue}||'%'
					OR QUESTION_TITLE LIKE '%'||#{searchValue}||'%'
					OR QUESTION_CONTENTS LIKE '%'||#{searchValue}||'%'
				</if>
			 
		</where>
	</select>
	<!-- QNA 검색 출력 -->
	<select id="selectAllByQnaValue" resultMap="qnaResultMap">
		SELECT * FROM QNA_TBL
		<where>
				<if test="searchCondition.toString() == 'QWriter'">
					QUESTION_WRITER LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'QTitle'">
					QUESTION_TITLE LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'QContents'">
					QUESTION_CONTENTS LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchCondition.toString() == 'all'">
					QUESTION_WRITER LIKE '%'||#{searchValue}||'%'
					OR QUESTION_TITLE LIKE '%'||#{searchValue}||'%'
					OR QUESTION_CONTENTS LIKE '%'||#{searchValue}||'%'
				</if>
				 
			</where>
	</select>
	<update id="updateAnswerQna"> 
		UPDATE QNA_TBL SET ANSWER_STATUS = 'N', ANSWER_CONTENTS = #{answerContents }, ANSWER_WRITER= #{answerWriter }, Q_UPDATE_DATE = DEFAULT 
		WHERE QUESTION_NO = #{questionNo}
	</update>
	
<!--<select id="selectNewUser" resultMap="userResultMap">
		SELECT USER_ID, USER_NAME, USER_PHONE, USER_EMAIL, U_ENROLL_DATE FROM USER_TBL WHERE ROWNUM <=10 ORDER BY U_ENROLL_DATE DESC
	</select>
	
	<select id="selectNewQna" resultMap="qnaResultMap">
		SELECT QUESTION_WRITER, QUESTION_TITLE, ANSWER_STATUS, Q_ENROLL_DATE FROM QNA_TBL WHERE ROWNUM <=10 ORDER BY Q_ENROLL_DATE DESC
	</select>
	
	<select id="selectNewRecipe" resultMap="recipeResultMap">
		SELECT RECIPE_NO, USER_ID, RECIPE_TITLE, RECIPE_LIKE_COUNT, R_CREATE_DATE FROM RECIPE_TBL WHERE ROWNUM <=10 ORDER BY R_CREATE_DATE DESC
	</select>
	
	<select id="selectNewCommunity" resultMap="communityResultMap">		
		SELECT COMMUNITY_NO, COMMUNITY_WRITER, COMMUNITY_TITLE, C_ENROLL_DATE FROM COMMUNITY_TBL WHERE ROWNUM <=10 ORDER BY C_ENROLL_DATE DESC
	</select> -->
	
 </mapper>