<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace= "CommunityMapper">
  	<resultMap type= "Community" id="postManageResultMap">
  		<id property="communityNo" column="COMMUNITY_NO"/>
  		<result property="cBoardCode" column="C_BOARD_CODE"/>
  		<result property="communityTitle" column="COMMUNITY_TITLE"/>
  		<result property="communityWriter" column="COMMUNITY_WRITER"/>
  		<result property="communityContents" column="COMMUNITY_CONTENTS"/>
  		<result property="communityPrice" column="COMMUNITY_PRICE"/>
  		<result property="communitySalePage" column="COMMUNITY_SALE_PAGE"/>
  		<result property="communityFileName" column="COMMUNITY_FILE_NAME"/>
  		<result property="communityFileRename" column="COMMUNITY_FILE_RENAME"/>
  		<result property="communityFilePath" column="FILE_PATH"/>
  		<result property="cEnrollDate" column="C_ENROLL_DATE"/>
  		<result property="cUpdateDate" column="C_UPDATE_DATE"/>
  		<result property="boardCount" column="BOARD_COUNT"/>
  	</resultMap>
 	
  	<select id="selectAllPost" resultMap="postManageResultMap">
 			SELECT * FROM COMMUNITY_TBL ORDER BY C_ENROLL_DATE DESC
 	</select>
 	
 	<update id="updatePostCount">
  		UPDATE COMMUNITY_TBL SET BOARD_COUNT = BOARD_COUNT + 1 WHERE COMMUNITY_NO = #{communityNo}
  	</update>
  	
  	<select id="selectPostOne" resultMap="postManageResultMap">
 		SELECT * FROM COMMUNITY_TBL WHERE COMMUNITY_NO = #{communityNo}
 	</select>
 	
 	<delete id="deleteOneByPostNo">
 		DELETE FROM COMMUNITY_TBL WHERE COMMUNITY_NO = #{communityNo}
 	</delete>
 	
	<select id="selectPostTotalCount" resultType="_int">
		SELECT COUNT(*) FROM COMMUNITY_TBL
		<where>
			<if test = "searchCondition.toString() == 'title'">
				COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'contents'">
				COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'writer'">
				COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'all'">
				COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%'
				OR COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
				OR COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
		</where>
	</select>
 	
 	<select id="selectAllByPostValue" resultMap="postManageResultMap">
 		SELECT * FROM COMMUNITY_TBL
 		<where>
 			<if test = "searchCondition.toString() == 'title'">
 			COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test = "searchCondition.toString() == 'contents'">
 			COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test = "searchCondition.toString() == 'writer'">
 			COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test = "searchCondition.toString() == 'all'">
 			COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%'
 			OR COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
 			OR COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
 			</if>
 		</where>
 	</select>
	
	<update id="updatePost">
 		UPDATE COMMUNITY_TBL SET COMMUNITY_TITLE = #{communityTitle}, COMMUNITY_CONTENTS = #{communityContents}, C_UPDATE_DATE = DEFAULT WHERE COMMUNITY_NO = #{communityNo}
 	</update>
 	
 	<resultMap type="cReply" id="replyManageResultMap">
  		<id property ="replyNo" column="REPLY_NO"/>
  		<result property ="refCommunityNo" column="REF_COMMUNITY_NO"/>
  		<result property ="replyContents" column="REPLY_CONTENTS"/>
  		<result property ="replyWriter" column="REPLY_WRITER"/>
  		<result property ="rCreateDate" column="R_CREATE_DATE"/>
  		<result property ="rUpdateDate" column="R_UPDATE_DATE"/>
  	</resultMap>
  	
 	<select id="selectAllReplyManage" resultMap="replyManageResultMap">
 		SELECT * FROM C_REPLY_TBL WHERE REF_COMMUNITY_NO = #{refCommunityNo}
 	</select>
 	
 	
 	<!-- 레시피 관리 코드 --> 	  	
 	<resultMap type="Recipe" id="recipeResultMap2">
 		<id property="recipeNo" column="RECIPE_NO" />
		<result property="recipeTitle" column="RECIPE_TITLE" />
		<result property="recipeIntro" column="RECIPE_INTRO" />
		<result property="thumbnailName" column="THUMBNAIL_NAME" />
		<result property="thumbnailRename" column="THUMBNAIL_RENAME" />
		<result property="thumbnailpath" column="THUMBNAIL_PATH" />
		<result property="typeCategory" column="TYPE_CATEGORY" />
		<result property="wayCategory" column="WAY_CATEGORY" />
		<result property="recipeLikeCount" column="RECIPE_LIKE_COUNT" />
		<result property="recipeCount" column="RECIPE_COUNT" />
		<result property="userId" column="USER_ID" />
		<result property="recipeLevel" column="RECIPE_LEVEL" />
		<result property="recipeTime" column="RECIPE_TIME" />
		<result property="recipePerson" column="RECIPE_PERSON" />
		<result property="rCreateDate" column="R_CREATE_DATE" />
		<result property="rStatus" column="R_STATUS" />
	</resultMap>
 	
 	<resultMap type="com.kh.fivechef.recipe.domain.Ingradient" id="ingredientResultMap2">
 		<id property="ingNo" column="ING_NUM"/>
		<result property="recipeNo" column="RECIPE_NO" />
		<result property="ingBundleName" column="ING_BUNDLE_NAME" />
		<result property="ingAmount" column="ING_AMOUNT" />
		<result property="largeCatId" column="LARGE_CAT_ID" />
		<result property="smallCatId" column="SMALL_CAT_ID" />
		<result property="smallCatName" column="SMALL_CAT_NAME" />
		<result property="largeCatName" column="LARGE_CAT_NAME" />
 	</resultMap>
 	
 	<resultMap type="com.kh.fivechef.recipe.domain.Order" id="orderResultMap2">
 		<id property="orederNo" column="ORDER_NUM"/>
		<result property="recipeNo" column="RECIPE_NO" />
		<result property="recipeContents" column="RECIPE_CONTENTS" />
		<result property="orderPhotoName" column="ORDER_PHOTO_NAME" />
		<result property="orderPhotoRename" column="ORDER_PHOTO_RENAME" />
		<result property="orderPhotopath" column="ORDER_PHOTO_PATH" />
 	</resultMap>
 	
 	<resultMap type="com.kh.fivechef.recipe.domain.ComPhoto" id="comPhotoRecultMap2">
 		<id property="comPhotoNo" column="COMPHOTO_NO"/>
		<result property="recipeNo" column="RECIPE_NO" />
		<result property="comPhotoName" column="COMPHOTO_NAME" />
		<result property="comPhotoRename" column="COMPHOTO_RENAME" />
		<result property="comPhotopath" column="COMPHOTO_PATH" />
 	</resultMap>
 	
 	<resultMap type="LargeCat" id="largeResultMap2">
 		<id property="largeCatId" 				column="LARGE_CAT_ID" />
 		<result property="largeCatName" 			column="LARGE_CAT_NAME" />
 	</resultMap>
 	
 	<resultMap type="SmallCat" id="smallResultMap2">
 		<id property="smallCatId" 				column="SMALL_CAT_ID" />
 		<result property="largeCatId" 			column="LARGE_CAT_ID" />
 		<result property="smallCatName" 			column="SMALL_CAT_NAME" />
 	</resultMap>
 	
 	<resultMap type="com.kh.fivechef.recipe.domain.WhatRecipe"
		id="whatRecipeMap2">
		<id property="whatNo" column="WHAT_NO" />
		<result property="typeCode" column="TYPECODE" />
		<result property="typeName" column="TYPENAME" />
	</resultMap>
	
<insert id="insertIngradient">
		INSERT INTO INGRADIENT_TBL
		VALUES(ING_NUM_SEQ.NEXTVAL,RECIPE_NO_SEQ.CURRVAL,#{ingBundleName},#{ingAmount},#{largeCatId},#{smallCatId})
	</insert>
	<insert id="insertOrder">
		INSERT INTO ORDER_TBL
		VALUES(ORDER_NUM_SEQ.NEXTVAL,RECIPE_NO_SEQ.CURRVAL,#{recipeContents},#{orderPhotoName},#{orderPhotoRename},#{orderPhotopath})
	</insert>
	<insert id="insertComPhoto">
		INSERT INTO COMPHOTO_TBL
		VALUES(COMPHOTO_NO_SEQ.NEXTVAL,RECIPE_NO_SEQ.CURRVAL,#{comPhotoName},#{comPhotoRename},#{comPhotopath})
	</insert>

	<update id="removeRecipeUpdate">
		UPDATE RECIPE_TBL SET R_STATUS = 'N' WHERE RECIPE_NO = #{recipeNo}
	</update>
	
 	<select id="selectAllRecipe" resultMap="recipeResultMap2">
 		SELECT * FROM RECIPE_TBL
		<if test="whatRecipe != null and whatRecipe !=''">
			WHERE R_STATUS = 'Y' AND TYPE_CATEGORY = #{whatRecipe} or WAY_CATEGORY = #{whatRecipe} 
		</if>
		<if test="whatRecipe == null || whatRecipe == ''">
			WHERE R_STATUS = 'Y'
		</if>
		<choose>
			<when test="category == 'countView'">
				ORDER BY RECIPE_COUNT DESC
			</when>
			<when test="category == 'likeView'">
				ORDER BY RECIPE_LIKE_COUNT DESC
			</when>
			<otherwise>
				ORDER BY R_CREATE_DATE DESC
			</otherwise>
		</choose>
	</select>
	
<!--  <select id="selectCountAllRecipe" resultType="_int"> -->
<!-- 		 -->
<!-- 		SELECT COUNT(*) FROM RECIPE_TBL  -->
<!-- 		<if test="whatRecipe != null and whatRecipe !=''"> -->
<!-- 			WHERE R_STATUS = 'Y' AND ( TYPE_CATEGORY = #{whatRecipe} or WAY_CATEGORY = #{whatRecipe} ) -->
<!-- 		</if> -->
<!-- 		<if test="whatRecipe == null || whatRecipe == ''"> -->
<!-- 			WHERE R_STATUS = 'Y' -->
<!-- 		</if> -->
<!-- 	</select> -->
	<select id="selectOneByRecipeNo" resultMap="recipeResultMap2">
		SELECT * FROM
		RECIPE_TBL WHERE RECIPE_NO = #{recipeNo}
	</select>
	<select id="selectAllIng" resultMap="ingredientResultMap2">
		SELECT * FROM INGRADIENT_TBL
		A JOIN SMALL_CATEGORY B ON A.SMALL_CAT_ID =
		B.SMALL_CAT_ID JOIN
		LARGE_CATEGORY C ON A.LARGE_CAT_ID =
		C.LARGE_CAT_ID WHERE RECIPE_NO =
		#{recipeNo}
	</select>
	<select id="selectAllOrder" resultMap="orderResultMap2">
		SELECT * FROM ORDER_TBL
		WHERE RECIPE_NO = #{recipeNo}
	</select>
	<select id="selectAllComPhoto" resultMap="comPhotoRecultMap2">
		SELECT * FROM
		COMPHOTO_TBL WHERE RECIPE_NO = #{recipeNo}
	</select>
	<select id="selectWhatRecipe" resultMap="whatRecipeMap2">
		SELECT * FROM
		WHATRECIPE_TBL
	</select>
 	<!-- 조회수 -->
	<update id="updateBoardCount">
		UPDATE RECIPE_TBL SET RECIPE_COUNT = RECIPE_COUNT+1 WHERE RECIPE_NO = #{recipeNo }
	</update>

	<select id="selectAllByRecipeValue" resultMap="recipeResultMap2">
		SELECT * FROM RECIPE_TBL
		<where>
			<if test = "searchCondition.toString() == 'title'">
			RECIPE_TITLE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'contents'">
			RECIPE_INTRO LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'writer'">
			USER_ID LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'all'">
			RECIPE_TITLE LIKE '%'||#{searchValue}||'%'
			OR RECIPE_INTRO LIKE '%'||#{searchValue}||'%'
			OR USER_ID LIKE '%'||#{searchValue}||'%'
			</if>
		</where>
	</select>
 	
 <select id="selectCountAllRecipe" resultType="_int">
		SELECT COUNT(*) FROM RECIPE_TBL
		<where>
			<if test = "searchCondition.toString() == 'title'">
				RECIPE_TITLE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'contents'">
				RECIPE_INTRO LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'writer'">
				USER_ID LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'all'">
				RECIPE_TITLE LIKE '%'||#{searchValue}||'%'
				OR RECIPE_INTRO LIKE '%'||#{searchValue}||'%'
				OR USER_ID LIKE '%'||#{searchValue}||'%'
			</if>
		</where>
	</select>
 
 </mapper>