<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace= "CommunityMapper">
  	<resultMap type= "Community" id="communityResultMap">
  		<id property="communityNo" column="COMMUNITY_NO"/>
  		<result property="cBoardCode" column="C_BOARD_CODE"/>
  		<result property="communityTitle" column="COMMUNITY_TITLE"/>
  		<result property="communityWriter" column="COMMUNITY_WRITER"/>
  		<result property="communityContents" column="COMMUNITY_CONTENTS"/>
  		<result property="communityPrice" column="COMMUNITY_PRICE"/>
  		<result property="communitySalePage" column="COMMUNITY_SALE_PAGE"/>
  		<result property="communityFileName" column="COMMUNITY_FILE_NAME"/>
  		<result property="communityFileRename" column="COMMUNITY_FILE_RENAME"/>
  		<result property="communityFilePath" column="FILE_PATH"/>
  		<result property="cEnrollDate" column="C_ENROLL_DATE"/>
  		<result property="cUpdateDate" column="C_UPDATE_DATE"/>
  		<result property="boardCount" column="BOARD_COUNT"/>
  	</resultMap>
  	
  	<resultMap type="cReply" id="replyResultMap">
  		<id property ="replyNo" column="REPLY_NO"/>
  		<result property ="refCommunityNo" column="REF_COMMUNITY_NO"/>
  		<result property ="replyContents" column="REPLY_CONTENTS"/>
  		<result property ="replyWriter" column="REPLY_WRITER"/>
  		<result property ="rCreateDate" column="R_CREATE_DATE"/>
  		<result property ="rUpdateDate" column="R_UPDATE_DATE"/>
  	</resultMap>
  	<insert id = "insertCommunity">
  		INSERT INTO COMMUNITY_TBL VALUES(SEQ_COMMUNITY_NO.NEXTVAL, #{cBoardCode}, #{communityTitle}, #{communityWriter}, #{communityContents}, #{communityPrice}, #{communitySalePage}, #{communityFileName}, #{communityFileRename}, #{communityFilePath}, DEFAULT, DEFAULT, DEFAULT)
  	</insert>
  	
  	<update id = "updateCount">
  		UPDATE COMMUNITY_TBL SET BOARD_COUNT = BOARD_COUNT + 1 WHERE COMMUNITY_NO = #{communityNo}
  	</update>
  	
  	<select id="selectTotalCount" resultType="_int">
  		SELECT COUNT(*) FROM COMMUNITY_TBL
  			<where>
  			COMMUNITY_WRITER = #{communityWriter}
		 		<if test = "searchCondition.toString() == 'title'">
		 			AND COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%'
		 		</if>
		 		<if test = "searchCondition.toString() == 'contents'">
		 			AND COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
		 		</if>
		 		<if test = "searchCondition.toString() == 'writer'">
		 			AND COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
		 		</if>
		 		<if test = "searchCondition.toString() == 'all'">
		 			AND COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%'
		 			OR COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
		 			OR COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
		 			
		 		</if>
	 		</where>
  	</select>
  	
  	<select id="selectTotalFCount" resultType="_int">
 		SELECT COUNT(*) FROM COMMUNITY_TBL
 			<where>
 			C_BOARD_CODE = 'free'
	 			<if test = "searchCondition.toString() == 'title'">
	 				AND COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%' 
	 			</if>
	 			<if test = "searchCondition.toString() == 'contents'">
	 				AND COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
	 			</if>
	 			<if test = "searchCondition.toString() == 'writer'">
	 				AND COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
	 			</if>
	 			<if test = "searchCondition.toString() == 'all'">
	 				AND COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%'
	 				OR COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
	 				OR COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
	 				
	 			</if>
 		</where>
 	</select>
 	
 	<select id="selectTotalSCount" resultType="_int">
 		SELECT COUNT(*) FROM COMMUNITY_TBL
 			<where>
 			C_BOARD_CODE = 'sale'
	 			<if test = "searchCondition.toString() == 'title'">
	 				AND COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%' 
	 			</if>
	 			<if test = "searchCondition.toString() == 'contents'">
	 				AND COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
	 			</if>
	 			<if test = "searchCondition.toString() == 'writer'">
	 				AND COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
	 			</if>
	 			<if test = "searchCondition.toString() == 'all'">
	 				AND COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%'
	 				OR COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
	 				OR COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
	 			</if>
 		</where>
 	</select>
 	
 	<select id="selectAllCommunity" resultMap="communityResultMap">
 		SELECT * FROM COMMUNITY_TBL WHERE C_BOARD_CODE = 'free' ORDER BY COMMUNITY_NO DESC
 	</select>
 	
 	<select id="selectAllSaleBoard" resultMap="communityResultMap">
 		SELECT * FROM COMMUNITY_TBL WHERE C_BOARD_CODE = 'sale' ORDER BY COMMUNITY_NO DESC
 	</select>
 	
 	<select id="selectAllMyCommunity" resultMap="communityResultMap">
 		SELECT * FROM COMMUNITY_TBL WHERE COMMUNITY_WRITER = #{communityWriter} ORDER BY COMMUNITY_NO DESC
 	</select>
 	<select id="selectOne" resultMap="communityResultMap">
 		SELECT * FROM COMMUNITY_TBL WHERE COMMUNITY_NO = #{communityNo}
 	</select>
 	
 	<delete id="deleteCommunity">
 		DELETE FROM COMMUNITY_TBL WHERE COMMUNITY_NO = #{communityNo}
 	</delete>
 	
 	<update id="updateCommunity">
 		UPDATE COMMUNITY_TBL SET COMMUNITY_TITLE = #{communityTitle}, COMMUNITY_CONTENTS = #{communityContents}, C_UPDATE_DATE = DEFAULT WHERE COMMUNITY_NO = #{communityNo}
 	</update>
 	
 	<select id="selectAllByValue" resultMap="communityResultMap">
 		SELECT * FROM COMMUNITY_TBL
 		<where>
 		C_BOARD_CODE = 'free'
 			<if test = "searchCondition.toString() == 'title'">
 			AND COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test = "searchCondition.toString() == 'contents'">
 			AND COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test = "searchCondition.toString() == 'writer'">
 			AND COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test = "searchCondition.toString() == 'all'">
 			AND COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%'
 			OR COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
 			OR COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
 			</if>
 		</where>
 	</select>
 	
 	<select id="selectSaleBoardByValue" resultMap="communityResultMap">
 		SELECT * FROM COMMUNITY_TBL
 		<where>
 		C_BOARD_CODE = 'sale'
 			<if test = "searchCondition.toString() == 'title'">
 			AND COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%' 
 			</if>
 			<if test = "searchCondition.toString() == 'contents'">
 			AND COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test = "searchCondition.toString() == 'writer'">
 			COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test = "searchCondition.toString() == 'all'">
 			AND COMMUNITY_TITLE LIKE '%'||#{searchValue}||'%'
 			OR COMMUNITY_CONTENTS LIKE '%'||#{searchValue}||'%'
 			OR COMMUNITY_WRITER LIKE '%'||#{searchValue}||'%'
 			</if>
 		</where>
 	</select>
 	
 	<insert id="insertReply">
 		INSERT INTO C_REPLY_TBL VALUES(C_REPLY_NO_SEQ.NEXTVAL, #{refCommunityNo}, #{replyContents}, #{replyWriter}, DEFAULT, DEFAULT)
 	</insert>
 	
 	<update id="updateReply">
 		UPDATE C_REPLY_TBL SET REPLY_CONTENTS = #{replyContents}, R_UPDATE_DATE = DEFAULT WHERE REPLY_NO = #{replyNo}
 	</update>
 	
 	<delete id="deleteReply">
 		DELETE FROM C_REPLY_TBL WHERE REPLY_NO = #{replyNo}
 	</delete>
 	
 	<select id="selectAllReply" resultMap="replyResultMap">
 		SELECT * FROM C_REPLY_TBL WHERE REF_COMMUNITY_NO = #{refCommunityNo}
 	</select>
  </mapper>