<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 나는 맵퍼다 선언 -->
 <mapper namespace="FridgeMapper">
 	<resultMap type="Fridge" id="fridgeResultMap">
 		<id property="fridgeNo" 				column="FRIDGE_NO" />
 		<result property="fridgeName" 			column="FRIDGE_NAME" />
 		<result property="enrollDate" 			column="FRIDGE_DATE" />
 		<result property="fridgeFilename" 		column="FRIDGE_FILENAME" />
 		<result property="fridgeFileRename" 	column="FRIDGE_FILERENAME" />
 		<result property="fridgeFilepath" 		column="FRIDGE_FILEPATH" />
 		<result property="userId" 				column="USER_ID" />
 	</resultMap>
 	<resultMap type="LargeCat" id="largeResultMap">
 		<id property="largeCatId" 				column="LARGE_CAT_ID" />
 		<result property="largeCatName" 			column="LARGE_CAT_NAME" />
 	</resultMap>
 	<resultMap type="SmallCat" id="smallResultMap">
 		<id property="smallCatId" 				column="SMALL_CAT_ID" />
 		<result property="largeCatId" 			column="LARGE_CAT_ID" />
 		<result property="smallCatName" 			column="SMALL_CAT_NAME" />
 	</resultMap>
 	<insert id="insertFridge">
 		INSERT INTO MY_FRIDGE_TBL
 		VALUES(SEQ_FRIDGE_NO.NEXTVAL, #{fridgeName}, DEFAULT, #{fridgeFilename}, #{fridgeFileRename}, #{fridgeFilepath}, #{userId})
 	</insert>
 	<update id="updateFridge">
 		UPDATE MY_FRIDGE_TBL SET FRIDGE_NAME = #{fridgeName}, FRIDGE_FILENAME = #{fridgeFilename}, FRIDGE_FILERENAME = #{fridgeFileRename}, FRIDGE_FILEPATH = #{fridgeFilepath}, USER_ID = #{userId}
		WHERE FRIDGE_NO = #{fridgeNo}
 	</update>
 	<select id="selectAllFridge" resultMap="fridgeResultMap">
 		SELECT * FROM MY_FRIDGE_TBL
 		ORDER BY FRIDGE_NO DESC
 	</select>
 	<select id="selectOneByFridgeNo" resultMap="fridgeResultMap">
 		SELECT * FROM MY_FRIDGE_TBL
 		WHERE FRIDGE_NO = #{fridgeNo}
 	</select>
 	<delete id="deleteFridge">
 		DELETE FROM MY_FRIDGE_TBL
 		WHERE FRIDGE_NO = #{fridgeNo}
 	</delete>
 	
 	<select id="selectLargeCat" resultMap="largeResultMap">
 		SELECT LARGE_CAT_ID, LARGE_CAT_NAME FROM LARGE_CATEGORY
 	</select>
 	<select id="selectSmallCat" resultMap="smallResultMap">
 		SELECT SMALL_CAT_NAME FROM SMALL_CATEGORY
 		WHERE LARGE_CAT_ID = #{largeCatId}
 	</select>
 	
 </mapper>