<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 나는 맵퍼다 선언 -->
 <mapper namespace="RecipeMapper">
 	<resultMap type="Recipe" id="recipeResultMap">
 		<id property="recipeNo" column="RECIPE_NO"/>
		<result property="recipeTitle" column="RECIPE_TITLE" />
		<result property="recipeIntro" column="RECIPE_INTRO" />
		<result property="thumbnailName" column="THUMBNAIL_NAME" />
		<result property="thumbnailRename" column="THUMBNAIL_RENAME" />
		<result property="thumbnailpath" column="THUMBNAIL_PATH" />
		<result property="typeCategory" column="TYPE_CATEGORY" />
		<result property="wayCategory" column="WAY_CATEGORY" />
		<result property="recipeLikeCount" column="RECIPE_LIKE_COUNT" />
		<result property="recipeCount" column="RECIPE_COUNT" />
		<result property="userId" column="USER_ID" />
		<result property="recipeLevel" column="RECIPE_LEVEL" />
		<result property="recipeTime" column="RECIPE_TIME" />
		<result property="recipePerson" column="RECIPE_PERSON" />
		<result property="rCreateDate" column="R_CREATE_DATE" />
 	</resultMap>
 	
 	<resultMap type="com.kh.fivechef.recipe.domain.Ingradient" id="ingredientResultMap">
 		<id property="ingNo" column="ING_NUM"/>
		<result property="recipeNo" column="RECIPE_NO" />
		<result property="ingBundleName" column="ING_BUNDLE_NAME" />
		<result property="ingAmount" column="ING_AMOUNT" />
		<result property="largeCatId" column="LARGE_CAT_ID" />
		<result property="smallCatId" column="SMALL_CAT_ID" />
		<result property="smallCatName" column="SMALL_CAT_NAME" />
		<result property="largeCatName" column="LARGE_CAT_NAME" />
 	</resultMap>
 	
 	<resultMap type="com.kh.fivechef.recipe.domain.Order" id="orderResultMap">
 		<id property="orederNo" column="ORDER_NUM"/>
		<result property="recipeNo" column="RECIPE_NO" />
		<result property="recipeContents" column="RECIPE_CONTENTS" />
		<result property="orderPhotoName" column="ORDER_PHOTO_NAME" />
		<result property="orderPhotoRename" column="ORDER_PHOTO_RENAME" />
		<result property="orderPhotopath" column="ORDER_PHOTO_PATH" />
 	</resultMap>
 	
 	<resultMap type="com.kh.fivechef.recipe.domain.ComPhoto" id="comPhotoRecultMap">
 		<id property="comPhotoNo" column="COMPHOTO_NO"/>
		<result property="recipeNo" column="RECIPE_NO" />
		<result property="comPhotoName" column="COMPHOTO_NAME" />
		<result property="comPhotoRename" column="COMPHOTO_RENAME" />
		<result property="comPhotopath" column="COMPHOTO_PATH" />
 	</resultMap>
 	
 	<insert id="insertRecipe">
		INSERT INTO RECIPE_TBL VALUES(RECIPE_NO_SEQ.NEXTVAL,#{recipeTitle},#{recipeIntro},#{thumbnailName},#{thumbnailRename},#{thumbnailpath},#{typeCategory},#{wayCategory},0,0,#{userId},#{recipeLevel},#{recipeTime},#{recipePerson},DEFAULT)
 	</insert>
 	<insert id="insertIngradient">
 		INSERT INTO INGRADIENT_TBL VALUES(ING_NUM_SEQ.NEXTVAL,RECIPE_NO_SEQ.CURRVAL,#{ingBundleName},#{ingAmount},#{largeCatId},#{smallCatId})
 	</insert>
 	<insert id="insertOrder">
 		INSERT INTO ORDER_TBL VALUES(ORDER_NUM_SEQ.NEXTVAL,RECIPE_NO_SEQ.CURRVAL,#{recipeContents},#{orderPhotoName},#{orderPhotoRename},#{orderPhotopath})
 	</insert>
 	<insert id="insertComPhoto">
 		INSERT INTO COMPHOTO_TBL VALUES(COMPHOTO_NO_SEQ.NEXTVAL,RECIPE_NO_SEQ.CURRVAL,#{comPhotoName},#{comPhotoRename},#{comPhotopath})
 	</insert>
 	<select id="selectAllRecipe" resultMap="recipeResultMap">
 		SELECT * FROM RECIPE_TBL
 			
 			<choose>
 				<when test="category == 'countView'">
 					ORDER BY RECIPE_LIKE_COUNT DESC
 				</when>
 				<when test="category == 'likeView'">
 					ORDER BY RECIPE_LIKE_COUNT DESC
 				</when>
 				<otherwise>
 					ORDER BY R_CREATE_DATE
 				</otherwise>
 			</choose>		
 	</select>
 	<select id="selectCountAllRecipe" resultType="_int">
 		<!-- 숫자하나 가져올땐 resultType 으로 처리 -->
 		SELECT COUNT(*) FROM RECIPE_TBL
 	</select>
 	<select id="selectOneByRecipeNo" resultMap="recipeResultMap">
 		SELECT * FROM RECIPE_TBL WHERE RECIPE_NO = #{recipeNo}
 	</select>
 	<select id="selectAllIng" resultMap="ingredientResultMap">
 		SELECT * FROM INGRADIENT_TBL A JOIN SMALL_CATEGORY B ON A.SMALL_CAT_ID = B.SMALL_CAT_ID JOIN LARGE_CATEGORY C ON A.LARGE_CAT_ID = C.LARGE_CAT_ID WHERE RECIPE_NO = #{recipeNo}
 	</select>
 	<select id="selectAllOrder" resultMap="orderResultMap">
 		SELECT * FROM ORDER_TBL WHERE RECIPE_NO = #{recipeNo}
 	</select>
 	<select id="selectAllComPhoto" resultMap="comPhotoRecultMap">
 		SELECT * FROM COMPHOTO_TBL WHERE RECIPE_NO = #{recipeNo}
 	</select>
 	
 	<!-- 조회수 -->
	<update id="updateBoardCount">
		UPDATE RECIPE_TBL SET RECIPE_COUNT = RECIPE_COUNT+1 WHERE RECIPE_NO = #{recipeNo }
	</update>
	<!-- 좋아요 버튼구동용 -->
	<select id="selectCheckLikeId" resultType="_int">
		SELECT COUNT(*) FROM R_LIKE_TBL WHERE RECIPE_NO = #{recipeNo} AND USER_ID = #{userId}
	</select>
	<!-- 좋아요 등록 -->
	<insert id="insertLike">
		INSERT INTO R_LIKE_TBL VALUES(LIKE_NO.NEXTVAL,#{recipeNo},#{userId},DEFAULT)
	</insert>
	<!-- 좋아요 갯수 업뎃 -->
	<update id="updateLikeCount">
		UPDATE RECIPE_TBL SET RECIPE_LIKE_COUNT = RECIPE_LIKE_COUNT +1 WHERE RECIPE_NO=#{recipeNo}
	</update>
	<!-- 좋아요 삭제 -->
 	<delete id="deleteLike">
 		DELETE FROM R_LIKE_TBL WHERE RECIPE_NO = #{recipeNo} AND USER_ID = #{userId}
 	</delete>
 	<!-- 좋아요 갯수 다운 -->
	<update id="updateDLikeCount">
		UPDATE RECIPE_TBL SET RECIPE_LIKE_COUNT = RECIPE_LIKE_COUNT -1 WHERE RECIPE_NO=#{recipeNo}
	</update>
 
 </mapper>