<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace= "ReplyMapper">
	<resultMap type="cReply" id="cReplyManageResultMap">
  		<id property ="replyNo" column="REPLY_NO"/>
  		<result property ="refCommunityNo" column="REF_COMMUNITY_NO"/>
  		<result property ="replyContents" column="REPLY_CONTENTS"/>
  		<result property ="replyWriter" column="REPLY_WRITER"/>
  		<result property ="rCreateDate" column="R_CREATE_DATE"/>
  		<result property ="rUpdateDate" column="R_UPDATE_DATE"/>
  	</resultMap>
  	
  	<resultMap type= "Community" id="communityResultMap2">
  		<id property="communityNo" column="COMMUNITY_NO"/>
  		<result property="cBoardCode" column="C_BOARD_CODE"/>
  		<result property="communityTitle" column="COMMUNITY_TITLE"/>
  		<result property="communityWriter" column="COMMUNITY_WRITER"/>
  		<result property="communityContents" column="COMMUNITY_CONTENTS"/>
  		<result property="communityPrice" column="COMMUNITY_PRICE"/>
  		<result property="communitySalePage" column="COMMUNITY_SALE_PAGE"/>
  		<result property="communityFileName" column="COMMUNITY_FILE_NAME"/>
  		<result property="communityFileRename" column="COMMUNITY_FILE_RENAME"/>
  		<result property="communityFilePath" column="FILE_PATH"/>
  		<result property="cEnrollDate" column="C_ENROLL_DATE"/>
  		<result property="cUpdateDate" column="C_UPDATE_DATE"/>
  		<result property="boardCount" column="BOARD_COUNT"/>
  	</resultMap>
  	
  	<select id="selectTotalCommCount" resultType="_int">
		SELECT COUNT(*) FROM C_REPLY_TBL
		<where>
			<if test = "searchCondition.toString() == 'all'">
				REPLY_CONTENTS LIKE '%'||#{searchValue}||'%'
				OR REPLY_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'writer'">
				REPLY_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'contents'">
				REPLY_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
		</where>
	</select>
  	
  	<select id="selectAllByCReplyValue" resultMap="cReplyManageResultMap">
 		SELECT * FROM C_REPLY_TBL
 		<where>
			<if test = "searchCondition.toString() == 'all'">
				REPLY_CONTENTS LIKE '%'||#{searchValue}||'%'
				OR REPLY_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'writer'">
				REPLY_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			<if test = "searchCondition.toString() == 'contents'">
				REPLY_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
		</where>
	</select>
	
	 	<select id="selectAllCommReply" resultMap="cReplyManageResultMap">
 		SELECT * FROM C_REPLY_TBL ORDER BY R_CREATE_DATE DESC
 	</select>
 	
	<select id="selectOneByCReplyNo" resultMap="communityResultMap2">
 		SELECT * FROM COMMUNITY_TBL WHERE COMMUNITY_NO = #{communityNo}
 	</select>
	
	<update id="updatePostCount">
  		UPDATE COMMUNITY_TBL SET BOARD_COUNT = BOARD_COUNT + 1 WHERE COMMUNITY_NO = #{communityNo}
  	</update>
  	
	<select id="selectAllCReply" resultMap="cReplyManageResultMap">
 		SELECT * FROM C_REPLY_TBL WHERE REF_COMMUNITY_NO = #{refCommunityNo} ORDER BY R_UPDATE_DATE DESC
 	</select>

 	<insert id="insertCReply">
  	 	INSERT INTO C_REPLY_TBL VALUES(C_REPLY_NO_SEQ.NEXTVAL, #{refCommunityNo}, #{replyContents}, #{replyWriter}, DEFAULT, DEFAULT)
  	</insert>
  	
  	<update id="modifyCReply">
  		UPDATE C_REPLY_TBL SET REPLY_CONTENTS = #{replyContents}, R_UPDATE_DATE = DEFAULT WHERE REPLY_NO = #{replyNo}
  	</update>
  	
  	<delete id="deleteCReply">
  	DELETE FROM C_REPLY_TBL WHERE REPLY_NO = #{replyNo}
  	</delete>
 
  </mapper>