<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- 나는 마이바티스다 라는 선언 -->
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 만약에 null 데이터가 전달되었으면 빈칸이 아닌 NULL로 인식하도록 설정 -->
	</settings>
	<!-- 타입엘리스 사용 -->
	<typeAliases>
		<typeAlias type="com.kh.fivechef.admin.domain.Admin" alias="Admin"/>
		<typeAlias type="com.kh.fivechef.fridge.domain.Fridge" alias="Fridge"/>
		<typeAlias type="com.kh.fivechef.fridge.domain.Storage" alias="Storage"/>
		<typeAlias type="com.kh.fivechef.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="com.kh.fivechef.recipe.domain.Recipe" alias="Recipe"/>
		<typeAlias type="com.kh.fivechef.user.domain.User" alias="User"/>
		<typeAlias type="com.kh.fivechef.qna.domain.QnA" alias="QnA"/>
		<typeAlias type="com.kh.fivechef.community.domain.Community" alias="Community"/>
		<typeAlias type="com.kh.fivechef.fridge.domain.LargeCategory" alias="LargeCat"/>
		<typeAlias type="com.kh.fivechef.fridge.domain.SmallCategory" alias="SmallCat"/>
		<typeAlias type="com.kh.fivechef.community.domain.CReply" alias="CReply"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/admin-mapper.xml"></mapper>
		<mapper resource="mappers/fridge-mapper.xml"></mapper>
		<mapper resource="mappers/notice-mapper.xml"></mapper>
		<mapper resource="mappers/recipe-mapper.xml"></mapper>
		<mapper resource="mappers/user-mapper.xml"></mapper>
		<mapper resource="mappers/qna-mapper.xml"></mapper>
		<mapper resource="mappers/community-mapper.xml"></mapper>
		<mapper resource="mappers/postmanage-mapper.xml"></mapper>
	</mappers>
</configuration>